
@{
    ViewBag.Title = "insert";
}


@{
    ViewBag.Title = "Insert";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ksiegarnia bezpieczna</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ksiegarnia bezpieczna</a>
            </div>
        </div>
    </nav>
    <h2>Dodawanie książki</h2>
    <button type="button" onclick="func()">Wyświetl listę książek</button>
    <div id="lista_ksiazek"></div>
    <br />

    Podaj dane:
    <div id="aktualizacja" style="display:block">

        Tytul: <input type="text" id="tytul" />
        ISBN: <input type="text" id="ISBN" />
        ID_Autora: <input type="text" id="ID_Autora" />
        ID_Kategorii: <input type="text" id="ID_Kategorii" />
        <button type="button" onclick="dodaj()">Dodaj</button><br /><br />
        <button type="button" onclick="wyswietl_autorzy()">Wyświetl autorów</button><button type="button" onclick="wyswietl_kategorie()">Wyświetl kategorie</button>
        <div id="lista"></div>
    </div>
    <script type="text/javascript">

        function wyswietl_kategorie() {
            var kategorie = new Array();
       
            $.ajax({
                type: "POST",
                url: '@Url.Action("Get", "Kategorie")',
                data: "a",
                success: function (data) {
                    debugger;
                    for (i = 0; i < data.length; i++) {
                        kategorie[i] = data[i];
                    }
                    var lista = "<li>ID - Nazwa - Opis</li>";
                    for (i = 0; i < kategorie.length ; i++) {
                        lista += "<li>";
                        lista += kategorie[i].ID_Kategorii.toString() + " - " + kategorie[i].Nazwa + " - " + kategorie[i].Opis + "</li>";
                    }
                    document.getElementById("lista").innerHTML = lista;
                    return;
                },
            });
        }
        function wyswietl_autorzy() {
            var autorzy = new Array();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Get", "Autorzy")',
                data: "a",
                success: function (data) {
                    debugger;
                    for (i = 0; i < data.length; i++) {
                        autorzy[i] = data[i];
                    }
                    var lista = "<li>ID - Imie - Nazwisko</li>";
                    for (i = 0; i < autorzy.length ; i++) {
                        lista += "<li>";
                        lista += autorzy[i].ID_Autora.toString() + " - " + autorzy[i].Imie + " - " + autorzy[i].Nazwisko + "</li>";
                    }
                    document.getElementById("lista").innerHTML = lista;
                    return;
                },
            });
        }

        function func() {
            var ksiazki = new Array();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Get", "Ksiazki")',
                data: "a",
                success: function (data) {
                    debugger;
                    for (i = 0; i < data.length; i++) {
                        ksiazki[i] = data[i];
                    }
                    var lista = "<li>ID - Tytul - ISBN</li>";
                    for (i = 0; i < ksiazki.length ; i++) {
                        lista += "<li>";
                        lista += ksiazki[i].ID_Ksiazki.toString() + " - " + ksiazki[i].Tytul + " - " + ksiazki[i].ISBN+"</li>";
                    }
                    document.getElementById("lista_ksiazek").innerHTML = lista;
                    return;
                },
            });
        }
        function dodaj() {

            var Tytul = document.getElementById("tytul").value;
            var ISBN = document.getElementById("ISBN").value;
            var ID_Autora = document.getElementById("ID_Autora").value;
            var ID_Kategorii = document.getElementById("ID_Kategorii").value;

            var postData = { Tytul, ISBN, ID_Autora, ID_Kategorii };
            $.ajax({
                type: "POST",
                url: '@Url.Action("Post", "Ksiazki")',
                data: postData,
                success: function (data) {
                    location.href = '@Url.Action("insert", "Ksiazki")';
                    return;
                },
            });
        }
    </script>
</body>
</html>




