
@{
    ViewBag.Title = "insert";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ksiegarnia bezpieczna</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ksiegarnia bezpieczna</a>
            </div>
        </div>
    </nav>
    <h2>Dodawanie autora</h2>
    <button type="button" onclick="func()">Wyświetl listę autorów</button>
    <div id="lista_autorow"></div>
    <br />

    Podaj dane:
    <div id="aktualizacja" style="display:block">
        Nazwa: <input type="text" id="nazwa" />
        ID_Uprawnienia: <input type="text" id="ID_uprawnienia" />
        <button type="button" onclick="dodaj()">Dodaj</button>
    </div>
    <script type="text/javascript">

        function func() {
            var role = new Array();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Get", "Role")',
                data: "a",
                success: function (data) {
                    for (i = 0; i < data.length; i++) {
                        role[i] = data[i];
                    }
                    var lista = "<li>ID - Nazwa</li>";
                    for (i = 0; i < role.length ; i++) {
                        lista += "<li>";
                        lista += role[i].ID_Roli.toString() + " - " + role[i].Nazwa + "</li>";
                    }
                    document.getElementById("lista_rol").innerHTML = lista;
                    return;
                },
            });
        }
        function dodaj() {
            var nazwa = document.getElementById("nazwa").value;
            var ID_uprawnienia = document.getElementById("ID_uprawnienia").value;
           
            var postData = { tytul, ISBN, ID_Autora, ID_Kategorii };
            $.ajax({
                type: "POST",
                url: '@Url.Action("Post", "Ksiazki")',
                data: postData,
                success: function (data) {
                    location.href = '@Url.Action("insert", "Ksiazki")';
                    return;
                },
            });

            var nazwa = document.getElementById("nazwa").value;
            var ID_uprawnien = document.getElementById("nazwisko").value;

            var postData = { nazwa };
            $.ajax({
                type: "POST",
                url: '@Url.Action("Post", "Role")',
                data: postData,
                success: function (data) {
                    location.href = '@Url.Action("insert", "Role")';
                    return;
                },
            });
        }
    </script>
</body>
</html>



