
@{
    ViewBag.Title = "update";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ksiegarnia bezpieczna</title>
</head>
<body onload="gorneMenu()">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="float:left">Ksiegarnia bezpieczna</a>
                <div align="center" id="powitanie"></div>
                <div align="center"><button type="button" onclick="wyloguj()">Wyloguj</button></div>
            </div>
        </div>

        <div align="center" style="margin-left:300px;">
            <div style="float:left; padding:10px;">
                <h4 style="color:#808080">Autorzy</h4>
                <div id="insert.autorzy" style="color:black">Dodaj</div>
                <div id="delete.autorzy" style="color:black">Usuń</div>
                <div id="update.autorzy" style="color:black">Zaktualizuj</div>
                <div id="select.autorzy" style="color:black">Przejrzyj</div>
            </div>
            <div style="float:left; padding:10px;">
                <h4 style="color:#808080">Książki</h4>
                <div id="insert.ksiazki" style="color:black">Dodaj</div>
                <div id="delete.ksiazki" style="color:black">Usuń</div>
                <div id="update.ksiazki" style="color:black">Zaktualizuj</div>
                <div id="select.ksiazki" style="color:black">Przejrzyj</div>
            </div>
            <div style="float:left; padding:10px;">
                <h4 style="color:#808080">Kategorie</h4>
                <div id="insert.kategorie" style="color:black">Dodaj</div>
                <div id="delete.kategorie" style="color:black">Usuń</div>
                <div id="update.kategorie" style="color:black">Zaktualizuj</div>
                <div id="select.kategorie" style="color:black">Przejrzyj</div>
            </div>
            <div style="float:left; padding:10px;">
                <h4 style="color:#808080">Użytkownicy</h4>
                <div id="insert.uzytkownicy" style="color:black">Dodaj</div>
                <div id="delete.uzytkownicy" style="color:black">Usuń</div>
                <div id="update.uzytkownicy" style="color:black">Zaktualizuj</div>
                <div id="select.uzytkownicy" style="color:black">Przejrzyj</div>
            </div>
            <div style="float:left; padding:10px;">
                <h4 style="color:#808080">Role</h4>
                <div id="insert.role" style="color:black">Dodaj</div>
                <div id="delete.role" style="color:black">Usuń</div>
                <div id="update.role" style="color:black">Zaktualizuj</div>
                <div id="select.role" style="color:black">Przejrzyj</div>
            </div>
        </div>
        <div style="clear:both"></div>
    </nav>
    <h2>Aktualizacja roli</h2>
    <button type="button" onclick="func()">Wyświetl listę ról</button>
    <div id="lista_rol"></div>
    <br />
    <p>Podaj ID roli, którą chcesz zaktualizować:</p>
    <input type="text" id="identyfikator" />
    <button type="button" onclick="wybierz()">Wybierz</button>
    <div id="aktualizacja" style="display:none">
        Nazwa: <input type="text" id="nazwa" />
        <div id="dodaj"></div>
        <div id="usun"></div>
        <button type="button" onclick="zaktualizuj()">Zaktualizuj</button>
    </div>

    <script type="text/javascript">
        function gorneMenu(){
            var a = "";
            a = '@ViewBag.Message';
            var res = a.split("-");
            var nazwa_uzytkownika = res[0];
            document.getElementById("powitanie").innerHTML = "Witaj, " + nazwa_uzytkownika;
            document.getElementById("powitanie").style.color = "white";
            document.getElementById("powitanie").style.marginTop = "15px";
            document.getElementById("powitanie").style.marginLeft = "15px";

            var uprawnienia = res[1];
            var tablica_uprawnien = uprawnienia.split(";");
            tablica_uprawnien.pop();
            for (i = 0; i < tablica_uprawnien.length; i++)
            {
                var adres = @Url.Action("Index", "Home");
                debugger;
                var link = '<a style="color:white;" href="';

                var instrukcja_tabela = tablica_uprawnien[i].split(".");
                if(instrukcja_tabela[1]=="autorzy")
                {
                    if(instrukcja_tabela[0]=="insert"){
                        link += adres + '/Autorzy/insert/">';
                        link += "Dodaj</a>";
                    }
                    else if (instrukcja_tabela[0] == "delete") {
                        link += adres + '/Autorzy/del/">';
                        link += "Usuń</a>";
                    }
                    else if (instrukcja_tabela[0] == "update") {
                        link += adres + '/Autorzy/update/">';
                        link += "Aktualizuj</a>";
                    }
                    else if (instrukcja_tabela[0] == "select") {
                        link += adres + '/Autorzy/select/">';
                        link += "Przeglądaj</a>";
                    }
                }
                else if (instrukcja_tabela[1] == "ksiazki")
                {
                    if (instrukcja_tabela[0] == "insert") {
                        link += adres + '/Ksiazki/insert/">';
                        link += "Dodaj</a>";
                    }
                    else if (instrukcja_tabela[0] == "delete") {
                        link += adres + '/Ksiazki/del/">';
                        link += "Usuń</a>";
                    }
                    else if (instrukcja_tabela[0] == "update") {
                        link += adres + '/Ksiazki/update/">';
                        link += "Aktualizuj</a>";
                    }
                    else if (instrukcja_tabela[0] == "select") {
                        link += adres + '/Ksiazki/select/">';
                        link += "Przeglądaj</a>";
                    }
                }
                else if (instrukcja_tabela[1] == "kategorie")
                {
                    if (instrukcja_tabela[0] == "insert") {
                        link += adres + '/Kategorie/insert/">';
                        link += "Dodaj</a>";
                    }
                    else if (instrukcja_tabela[0] == "delete") {
                        link += adres + '/Kategorie/del/">';
                        link += "Usuń</a>";
                    }
                    else if (instrukcja_tabela[0] == "update") {
                        link += adres + '/Kategorie/update/">';
                        link += "Aktualizuj</a>";
                    }
                    else if (instrukcja_tabela[0] == "select") {
                        link += adres + '/Kategorie/select/">';
                        link += "Przeglądaj</a>";
                    }
                }
                else if (instrukcja_tabela[1] == "uzytkownicy") {
                    if (instrukcja_tabela[0] == "insert") {
                        link += adres + '/Uzytkownicy/insert/">';
                        link += "Dodaj</a>";
                    }
                    else if (instrukcja_tabela[0] == "delete") {
                        link += adres + '/Uzytkownicy/del/">';
                        link += "Usuń</a>";
                    }
                    else if (instrukcja_tabela[0] == "update") {
                        link += adres + '/Uzytkownicy/update/">';
                        link += "Aktualizuj</a>";
                    }
                    else if (instrukcja_tabela[0] == "select") {
                        link += adres + '/Uzytkownicy/select/">';
                        link += "Przeglądaj</a>";
                    }
                }
                else if (instrukcja_tabela[1] == "role") {
                    if (instrukcja_tabela[0] == "insert") {
                        link += adres + '/Role/insert/">';
                        link += "Dodaj</a>";
                    }
                    else if (instrukcja_tabela[0] == "delete") {
                        link += adres + '/Role/del/">';
                        link += "Usuń</a>";
                    }
                    else if (instrukcja_tabela[0] == "update") {
                        link += adres + '/Role/update/">';
                        link += "Aktualizuj</a>";
                    }
                    else if (instrukcja_tabela[0] == "select") {
                        link += adres + '/Role/select/">';
                        link += "Przeglądaj</a>";
                    }
                }
                document.getElementById(tablica_uprawnien[i]).innerHTML = link;
                document.getElementById(tablica_uprawnien[i]).style.color = "white";
                debugger;
            }
        }
        function wyloguj() {
            var ID_Sesji = "";
            a = '@ViewBag.Message';
            var res = a.split("-");
            var nazwa_uzytkownika = res[0];
            $.ajax({
                type: "POST",
                url: '@Url.Action("LogOutSession", "LogOut")',
                data: { nazwa_uzytkownika},
                success: function (data) {
                    ID_Sesji = data;

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Post", "LogOut")',
                        data: { ID_Sesji },
                        success: function (data) {
                            location.href = '@Url.Action("Index", "Home")';
                        },
                    });
                },
            });
        }
        function wybierz() {
            var id = document.getElementById("identyfikator").value;
            var wszystkieRole = new Array();
            var wszystkieUprawnienia = new Array();
            var rola;
            var doDodania = '<h4>Które uprawnienia chcesz dodać </h4><form id="dodawanie">';
            var doUsuniecia = '<h4>Które uprawnienia chcesz usunąć </h4><form id="usuwanie">';
            var czyUzyte = false;
            $.ajax({
                type: "POST",
                url: '@Url.Action("Get", "Role")',
                data: "a",
                success: function (data) {
                    for (i = 0; i < data.length; i++) {
                        wszystkieRole[i] = data[i];
                    }
                    for (i = 0; i < wszystkieRole.length; i++) {
                        if(wszystkieRole[i].ID_Roli == id)
                        {
                            rola = wszystkieRole[i];
                            break;
                        }
                    }
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Get", "Uprawnienia")',
                        data: "a",
                        success: function (data) {
                            debugger;
                            for (i = 0; i < data.length; i++) {
                                wszystkieUprawnienia[i] = data[i];
                            }

                            for (i = 0; i < wszystkieUprawnienia.length; i++)
                            {
                                czyUzyte = false;
                                for (j = 0; j < rola.Uprawnienie_Rola.length; j++)
                                {
                                    debugger;
                                    //do usuniecia
                                    if (wszystkieUprawnienia[i].ID_Uprawnienia == rola.Uprawnienie_Rola[j].Uprawnienie.ID_Uprawnienia) {
                                        doUsuniecia += '<input type="checkbox" id="';
                                        doUsuniecia += wszystkieUprawnienia[i].ID_Uprawnienia + '" value="">' + wszystkieUprawnienia[i].Nazwa_tabeli + " - ";

                                        if (wszystkieUprawnienia[i].Instrukcja == "insert") {
                                            doUsuniecia += "Dodaj <br />";
                                        }
                                        else if (wszystkieUprawnienia[i].Instrukcja == "update") {
                                            doUsuniecia += "Zaktualizuj <br />";
                                        }
                                        else if (wszystkieUprawnienia[i].Instrukcja == "delete") {
                                            doUsuniecia += "Usuń <br />";
                                        }
                                        else if (wszystkieUprawnienia[i].Instrukcja == "select") {
                                            doUsuniecia += "Przeglądaj <br />";
                                        }
                                        czyUzyte = true;
                                    }
                                }
                                if(!czyUzyte) {
                                    doDodania += '<input type="checkbox" id="';
                                    doDodania += wszystkieUprawnienia[i].ID_Uprawnienia + '" value="">' + wszystkieUprawnienia[i].Nazwa_tabeli + " ";

                                    if (wszystkieUprawnienia[i].Instrukcja == "insert") {
                                        doDodania += "Dodaj <br />";
                                    }
                                    else if (wszystkieUprawnienia[i].Instrukcja == "update") {
                                        doDodania += "Zaktualizuj <br />";
                                    }
                                    else if (wszystkieUprawnienia[i].Instrukcja == "delete") {
                                        doDodania += "Usuń <br />";
                                    }
                                    else if (wszystkieUprawnienia[i].Instrukcja == "select") {
                                        doDodania += "Przeglądaj <br />";
                                    }
                                }
                            }
                            doUsuniecia += "</form><br />";
                            doDodania += "</form><br />";

                            document.getElementById("dodaj").innerHTML = doDodania;
                            document.getElementById("usun").innerHTML = doUsuniecia;
                            document.getElementById("aktualizacja").style.display = "block";
                        },
                    });
                    return;
                },
            });

        }
        function func() {
            var role = new Array();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Get", "Role")',
                data: "a",
                success: function (data) {
                    for (i = 0; i < data.length; i++) {
                        role[i] = data[i];
                    }
                    var lista = "<li>ID - Nazwa</li>";
                    for (i = 0; i < role.length ; i++) {
                        lista += "<li>";
                        lista += role[i].ID_Roli.toString() + " - " + role[i].Nazwa + "</li>";
                    }
                    document.getElementById("lista_rol").innerHTML = lista;
                    return;
                },
            });
        }
        function zaktualizuj() {
            var wartosci = $("#dodawanie").find("input[type='checkbox']:checked").get();

            var uprawnieniaDodanie = new Array();
            for (i = 0; i < wartosci.length; i++) {
                uprawnieniaDodanie[i] = wartosci[i].id;
            }

            var wartosci = $("#usuwanie").find("input[type='checkbox']:checked").get();

            var uprawnieniaUsuwanie = new Array();
            for (i = 0; i < wartosci.length; i++) {
                uprawnieniaUsuwanie[i] = wartosci[i].id;
            }

            var nazwa = document.getElementById("nazwa").value;
            var id = document.getElementById("identyfikator").value;
            var postData = { nazwa,id , uprawnieniaDodanie, uprawnieniaUsuwanie}
            $.ajax({
                type: "POST",
                url: '@Url.Action("Put", "Role")',
                data: postData,
                success: function (data) {
                    location.href = '@Url.Action("update", "Role")';
                    return;
                },
            });
        }


    </script>
</body>
</html>
